@import url('https://fonts.googleapis.com/css2?family=Eater&family=Inspiration&family=Mansalva&family=Rajdhani:wght@500&display=swap');

.App {
  text-align: center,
}

body {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

.tagline {
  font-style: italic;
}

button {
  background-color: rgb(74, 132, 182);
  border: 2px solid white;
  border-radius: 0.5em;
  color: aliceblue;
  padding: 0.5em;
  margin-top: 8px;
}

button:hover{
  background-color: white;
  border: 2px solid black;
  cursor: pointer
}

body {
  background-image: url('https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-size: cover;
}

.Home, .HospitalPage, .ReviewPage, .ExperiencePage {
  background-color: aliceblue;
  margin-top: 15rem;
  margin-bottom: 15rem;
  opacity: 75%;
}

.link {
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black
}

.submit {
  color: black
}

#experience-image {
  width: 100px;
  height: 75px
}

.motto {
  font-style: italic
}

form { 
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 5em;
  margin: 2em auto;
  border-radius: 0.5em
}

form { 
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 5em;
  margin: 2em auto;
  border-radius: 0.5em
}

.form-div { 
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 5em;
  margin: 2em auto;
  border-radius: 0.5em
}
